.App {
  text-align: center;
  width: 100%; /* Adjusted */
  padding: 0.3em;
  display: grid; 
  grid-gap: 0.5em;
  justify-content: center; /* Adjusted */
  grid-template-columns: 1fr;
}

.royaltitle {
  background-color: #6435c9;
  padding: 1em;
  width: 100%;
  box-sizing: border-box; /* Added */
}

.SearchInput {
  width: 100%;
  padding: 0.9em 0.5em;
  box-sizing: border-box; /* Added */
}

.Transaction {
  width: 100%;
  padding: 0.9em;
  box-shadow: 0 0 0 1px rgb(0, 0, 0, 0.6);
  border: 1px solid grey;
  border-radius: 7px;
  box-sizing: border-box; /* Added */
}

.Transaction form {
  width: 100%;
  display: flex;
  flex-grow: 1;
  padding: 0.9em;
  gap: 0.5em;
  box-sizing: border-box; /* Added */
}

.Transaction form input {
  width: 100%;
  outline: none;
  border: 1px solid grey;
  border-radius: 7px;
  padding: 0.5em 0.9em;
  box-sizing: border-box; /* Added */
}

/* Add these styles to your existing CSS file */

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
}

/* Header styles */
thead th {
  background-color: #f2f2f2;
  border-bottom: 2px solid #ddd;
  padding: 0.5em;
  text-align: center;
}

/* Cell styles */
tbody td {
  padding: 0.5em;
  border-bottom: 1px solid #ddd;
}

/* Alternating row colors */
tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Hover effect */
tbody tr:hover {
  background-color: #e6e6e6;
}

